In [ ]:
import mysql.connector as c
import pandas as pd

In [ ]:
def create_db():
    #Connecting to mysql to start creating a database
    con = c.connect(host="localhost", user="root",passwd = "amlan")
    con.autocommit = True       #To avoid using con.commit() everytime
    
    #cursor, for executing the queries
    cursor = con.cursor()
    
    #creating database
    create_database_query = "CREATE DATABASE IF NOT EXISTS RestaurantDb"
    cursor.execute(create_database_query)
    con.close()
    
    #connecting to our created database
    con = c.connect(host='localhost',user='root', passwd = '*****',database = 'RestaurantDb')
    cursor = con.cursor()
    
    return cursor, con

In [ ]:
#Reading our first csv file
geo_places = pd.read_csv("geoplaces2.csv")

In [ ]:
#Filtering out the required columns
geo_places_clean = geo_places[['placeID','name','address','city','state','country']]

In [ ]:
geo_places_clean.head()

In [ ]:
#Removing all the '?' present in the columns
geo_places_clean['name','address','city','state','country'].replace({'?': 'NA'}, inplace = True)

In [ ]:
#Reading the second csv file
rating = pd.read_csv("Store_Data_Users/rating_final.csv")

In [ ]:
#Reading the third csv file
user_profile = pd.read_csv("Store_Data_Users/userprofile.csv")

In [ ]:
#Dropping unwanted columns
user_profile = user_profile.drop(labels = ['drink_level','marital_status','interest','color','weight','budget','height'],axis=1)

In [ ]:
user_profile.head()

In [ ]:
#Renaming a column as per our need
user_profile.rename(columns = {'activity':'profile'}, inplace=True)

In [ ]:
cursor, con = create_db()

In [ ]:
#Creating the first table restaurantlocations
restaurantLocations_table_create = '''CREATE TABLE IF NOT EXISTS RestaurantLocations (
                                    placeID int PRIMARY KEY,
                                    name varchar(150),
                                    address varchar(50),
                                    city varchar(50),
                                    state varchar(50),
                                    country varchar(50)
                                    )'''
cursor.execute(restaurantLocations_table_create)
con.commit()

In [ ]:
#Creating the second table userratings
userRatings_table_create = '''CREATE TABLE IF NOT EXISTS UserRatings (
                                    userID varchar(50) PRIMARY KEY,
                                    placeID int,
                                    rating int,
                                    food_rating int,
                                    service_rating int
                                    )'''
cursor.execute(userRatings_table_create)
con.commit()

In [ ]:
#Creating the third table userprofile
userProfile_table_create = '''CREATE TABLE IF NOT EXISTS UserProfile (
                                    userID varchar(50),
                                    birth_year int,
                                    personality varchar(50),
                                    religion varchar(50),
                                    profile varchar(50),
                                    PRIMARY KEY(userID)
                                    )'''
cursor.execute(userProfile_table_create)
con.commit()

In [ ]:
#Inserting data into restaurantlocatons table
restaurantlocations_insert_query = '''INSERT INTO restaurantlocations(placeID, name, address, city, state, country)
                                    values(%s,%s,%s,%s,%s,%s)'''
for i, row in geo_places_clean.iterrows():
    cursor.execute(restaurantlocations_insert_query, list(row))
con.commit()

In [ ]:
#Inserting data into userratings table
rating_insert_query = '''INSERT INTO userratings(userID, placeID, rating, food_rating, service_rating)
                                    values(%s,%s,%s,%s,%s)'''
for i, row in rating.iterrows():
    cursor.execute(rating_insert_query, list(row))
con.commit()

In [ ]:
#Inserting data into userprofile table
userprofile_insert_query = '''INSERT INTO userprofile(userID, birth_year, personaltiy, religion)
                                    values(%s,%s,%s,%s)'''
for i, row in user_profile.iterrows():
    cursor.execute(rating_insert_query, list(row))
con.commit()